@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

.container{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0 2rem;
}

.home{
    .header{
        background: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        .header-logo{
            a{
                background-image: url('@/assets/images/logo-white.png');
            }
        }
        .hamburger{
            .line{
                background: #fff;
            }
        }
        &.down{
            border-color: #ddd;
            background-color: #fff;
            .header-logo{
                a{
                    background-image: url('@/assets/images/logo.png');
                }
            }
            .hamburger{
                .line{
                    background: #000;
                }
            }
            .header-nav{
                ul{
                    li{
                        a{
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    
    .header-nav{
        ul{
            li{
                a{
                    color: #fff;
                    @media (max-width: 1000px) {
                        color: #000;
                    }
                }
            }
        }
    }
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: #fff;
    z-index: 100;
    @media (max-width: 1000px) {
        height: 8rem;
        border-bottom: 1px solid #ddd;
    }
    @media (max-width: 768px) {
        height: 4.6rem;
    }
    .header-container{
        position: relative;
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 3.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1000px) {
            padding: 0 1.2rem;
        }
    }
    .header-logo{
        a{
            display: block;
            width: 24rem;
            height: 3.2rem;
            background: url('@/assets/images/logo.png') no-repeat center center;
            @media (max-width: 1000px) {
                width: 18rem;
                height: 2.6rem;
                background-size: 100% auto;
            }
            @media (max-width: 768px) {
                width: 14rem;
                height: 2rem;
            }
        }
    }
}

.header-nav{
    ul{
        display: flex;
        gap: 0 9.5rem;
        li{
            a{
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 100%;
                letter-spacing: 0%;
                color: rgba(34, 34, 34, 1);
            }
        }
    }
    
    @media (max-width: 1000px) {
        position: fixed;
        top: 8rem;
        left: 100%;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 100;
        ul{
            flex-direction: column;
            gap: 0;
            padding: 0;
            li{
                a{
                    color: #000;
                    display: block;
                    padding: 1.5rem 0;
                    border-bottom: 1px solid #ddd;
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: 768px) {
        top: 4.6rem;
    }
}

.banner{
    height: 24.2rem;
    background: url('@/assets/images/sub-bg-1.png') no-repeat center center / cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 7rem;
    @media (max-width: 1440px) {
        margin-top: 5rem;
        margin-bottom: 5rem;
        height: 24rem;
    }
    @media (max-width: 768px) {
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: 20rem;
    }
    .banner-title{
        font-weight: 700;
        font-size: 4rem;
        line-height: 100%;
        letter-spacing: 0%;
        position: relative;
        z-index: 2;
        color: #fff;
        @media (max-width: 1440px) {
            font-size: 3.6rem;
        }
        @media (max-width: 768px) {
            font-size: 3rem;
        }
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(95, 104, 113, 0.7);
        z-index: 1;
    }
}

.footer-contact{
    padding: 8.5rem 0 12.5rem;
    background: rgba(37, 37, 40, 1);
    @media (max-width: 1000px) {
        padding: 3.5rem 0;
    }
    .footer-contact-container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
        @media (max-width: 1440px) {
            padding: 0 1.2rem;
        }
        @media (max-width: 1000px) {
            
        }
    }
    .title{
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 2.5rem;
        @media (max-width: 1000px) {
            font-size: 1.8rem;
            margin-bottom: 2rem;
            text-align: center;
        }
        @media (max-width: 768px) {
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
        }
    }
    .box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            text-align: center;
        }
        .desc{
            font-size: 3.4rem;
            font-weight: 500;
            color: #fff;
            @media (max-width: 1000px) {
                font-size: 3rem;
            }
            @media (max-width: 768px) {
                font-size: 2.5rem;
                span{
                    font-weight: 400;
                    font-size: 1.8rem;
                }
            }
        }
        .btn-contact{
            width: 26.4rem;
            height: 8.5rem;
            font-weight: 700;
            font-size: 2rem;
            line-height: 100%;
            color: rgba(0, 0, 0, 1);
            background: rgba(217, 217, 217, 1);
            text-align: center;
            @media (max-width: 1000px) {
                height: 6rem;
                font-size: 1.8rem;
            }
            @media (max-width: 768px) {
                width: 27rem;
                margin-top: 3rem;
            }
        }
    }
}

#footer{
    background: rgba(17, 17, 19, 1);
    padding: 6.6rem 0 8.8rem;
    @media (max-width: 1440px) {
        padding: 5rem 0 7rem;
    }
    @media (max-width: 768px) {
        padding: 2.5rem 0 3rem;
    }
}
.footer-logo{
    width: 16rem;
    height: 2.6rem;
    background: url('@/assets/images/footer-logo.png') no-repeat center center;
    margin-bottom: 2.3rem;
    @media (max-width: 1000px) {
        width: 12rem;
        height: 2rem;
        background-size: 100% auto;
        margin-bottom: 1.5rem;
    }
}
.footer-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    @media (max-width: 1000px) {
        padding: 0 1.2rem;
    }
}
.footer .grid{
    display:flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
        gap: 1rem;
    }
    .l-cont{
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.4;
        color: rgba(255, 255, 255, 0.8);
        @media (max-width: 768px) {
            font-size: 1.2rem;
        }
        a{
            color: rgba(255, 255, 255, 0.8);
        }
        b{
            font-weight: 700;
        }
    }
    .r-cont{
        font-size: 1.3rem;
        line-height: 1.4;
        color: #fff;
        text-align: right;
        @media (max-width: 1000px) {
            text-align: left;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        a{
            border: 1px solid rgba(221, 221, 221, 0.4);
            color: rgba(255, 255, 255, 0.8);
            font-family: Pretendard;
            font-weight: 500;
            font-size: 1.6rem;
            padding: .3rem .5rem;
            display: inline-block;
            margin-bottom: 1rem;
            @media (max-width: 768px) {
                margin-bottom: 0;
                font-size: 1.2rem;
                padding: .2rem .4rem;

            }
        }
        p{
            color: rgba(255, 255, 255, 0.4);
            font-size: 1.3rem;
            @media (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }
}


.popup-overlay {
    
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &.active{
        display: flex;
    }
  }
  .popup {
    background: #fff;
    padding: 32px 28px;
    width: 100%;
    max-width: 1000px;
    position: relative;
    @media (max-width: 1000px) {
        padding: 3rem 2rem;
    }
  }
  .popup h2 {
    font-size: 60px;
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
    margin-bottom: 5.5rem;
    @media (max-width: 1000px) {
        font-size: 3rem;
        margin-bottom: 3rem;
        display: block;
    }
    @media (max-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    p{
        font-weight: 400;
        color: #878794;
        font-size: 1.6rem;
        @media (max-width: 1000px) {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        @media (max-width: 768px) {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
    }

  }
  .form-wrap {
    display: flex;
    gap: 0 3rem;
    @media (max-width: 1000px) {
        flex-direction: column;
        gap: 0;
    }
    .form-left,
    .form-right{
        width: 50%;
        @media (max-width: 1000px) {
            width: 100%;
        }
    }
  }
  .form-col {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    @media (max-width: 1000px) {
        margin-bottom: 2rem;
    }
    @media (max-width: 768px) {
        margin-bottom: 1rem;
    }
    &.v2{
        padding-top: 2.2rem;
        @media (max-width: 1000px) {
            padding-top: 0;
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
  }
  label {
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 14px;
    @media (max-width: 1000px) {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    span{
        color: #FF0000;
    }
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    padding: 1.2rem;
    height: 5rem;
    border: 0;
    border-radius: 7px;
    font-size: 14px;
    background-color: #F2F2F2;
    @media (max-width: 1000px) {
        font-size: 1.2rem;
        height: 4rem;
    }
  }
  textarea {
    resize: none;
    overflow-y: auto;
    height: 26.6rem;
    @media (max-width: 1000px) {
        height: 15rem;
    }
  }
  .radio-group {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 1000px) {
        gap: 1rem;
    }
  }
  .radio-group input {
    margin-right: 5px;
    @media (max-width: 1000px) {
        margin-right: 0;
    }
  }
  .form-row{
    margin-top: 2.3rem;
    @media (max-width: 1000px) {
        margin-top: 1rem;
    }
  }
  .agree {
    font-size: 18px;
    @media (max-width: 1000px) {
        font-size: 1.2rem;
    }
    input{
        width: 2.2rem;
        height: 2.2rem;
        @media (max-width: 1000px) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
  }
  .btn {
    display: block;
    margin: 3rem auto 0;
    width: 26.2rem;
    font-size: 24px;
    font-weight: 500;
    background: #007bff;
    color: #fff;
    height: 6.3rem;
    cursor: pointer;
    @media (max-width: 1000px) {
        width: 20rem;
        font-size: 1.8rem;
        height: 4rem;
    }
  }
  .close-btn {
    position: absolute;
    right: 28px;
    top: 20px;
    @media (max-width: 1000px) {
        right: 2rem;
        top: 1rem;
        width: 2rem;
    }
  }
  


  .hamburger {
    width: 23px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 1001;
    display: none;
    @media (max-width: 1000px) {
        display: block;
    }
    .line {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #000;
      left: 0;
      border-radius: 1px;
      transition: all 0.3s ease;
  
      &.line1 {
        top: 0;
      }
  
      &.line2 {
        top: 8px;
      }
  
      &.line3 {
        bottom: 0;
      }
    }
  
    &.active {
      .line1 {
        transform: rotate(45deg);
        top: 8px;
      }
  
      .line2 {
        opacity: 0;
      }
  
      .line3 {
        transform: rotate(-45deg);
        bottom: 8px;
      }
    }
  }


body:has(.hamburger.active){
    overflow: hidden;
    .header{
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        .hamburger .line{
            background-color: #000;
        }
    }
    .header-nav{
        left: 0;
    }
}